Internship Informer.json
{
  "name": "Internship Informer",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2528,
        176
      ],
      "id": "cf124f0f-772f-4752-9aee-24ce1bde2c9d",
      "name": "Telegram Trigger",
      "webhookId": "de03b2ad-85a1-463a-9a1a-6e3c307de84a",
      "credentials": {
        "telegramApi": {
          "id": "9cIs4u9GE5MJl8oy",
          "name": "Internships Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c4709a1-e1dd-4021-99f2-f636a049bedd",
              "leftValue": "={{ $('Output Parser').item.json.send_whatsapp }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "9fd508d8-b394-442c-9dca-f730575edb3e",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        176
      ],
      "id": "167b29fd-31a1-41d6-a53f-7dacccc5a8b8",
      "name": "If",
      "retryOnFail": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "yOfWQK9CB3soT3Ai",
          "mode": "list",
          "cachedResultName": "Internship Alerts",
          "cachedResultUrl": "/projects/0aENaaiAf9dL9Hyo/datatables/yOfWQK9CB3soT3Ai"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $('JSON Format Fixer').item.json.role }}",
            "Eligibilty": "={{ $('JSON Format Fixer').item.json.eligibility }}",
            "Application_Link": "={{ $('JSON Format Fixer').item.json.apply_link }}",
            "Company_Name": "={{ $('JSON Format Fixer').item.json.company }}"
          },
          "matchingColumns": [
            "Internship"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company_Name",
              "displayName": "Company_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Eligibilty",
              "displayName": "Eligibilty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Application_Link",
              "displayName": "Application_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        704,
        -64
      ],
      "id": "a03dfaa3-6e5d-415e-8c9e-c1eb0148d00e",
      "name": "Insert row",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Process the following job opportunity data and extract the structured output.\n\n**TASK:**\n1. Analyze the \"Cleaned HTML Text\" below to determine eligibility.\n2. IF the text is missing the Batch Year (e.g., just says \"Student\" or \"Intern\"), use `serpapi_search` to verify if it is for 2027 graduates.\n\n**INPUT DATA:**\nTitle: {{ $('JSON Format Fixer').item.json.role }}\nCompany: {{ $('JSON Format Fixer').item.json.company }}\nEligibilty : {{ $('JSON Format Fixer').item.json.eligibility }}\nStipend : {{ $('JSON Format Fixer').item.json.stipend }}\nLink: {{ $('JSON Format Fixer').item.json.apply_link }}\n\n**CLEANED HTML TEXT (SOURCE):**\n\"\"\"\n{{ $('HTML Cleaner').item.json.text }}\n\"\"\"\n\n**OUTPUT REQUIREMENTS:**\n- Verify strict eligibility for **Batch of 2027** (Pre-final year).\n- Return the final JSON using the \"Final Answer\" format defined in the system message.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a backend JSON Data Processing Engine.\nYour ONLY function is to analyze job data and output a JSON response.\n\n**CORE OBJECTIVE:**\nIdentify valid **TECHNICAL** internship opportunities for **Pre-final Year Students (Batch of 2027)**.\n\n**STRICT DOMAIN FILTER (TECHNICAL ROLES ONLY):**\n- **ACCEPT:** Software, Engineering, Data Science, AI/ML, Cyber Security, Cloud, QA/Testing, Product Design (UI/UX), Technical Analyst, Research (R&D).\n- **IMMEDIATE REJECT:** Finance, Accounting, HR, Marketing, Sales, Business Development (BDE), Management Trainee, Operations, Content Writing, Social Media, Customer Support.\n- **NOTE:** \"Analyst\" roles must be carefully checked. \"Data Analyst\" = Valid. \"Financial Analyst\" = Invalid.\n\n**EXECUTION PROTOCOL (STRICT ORDER - DO NOT SKIP):**\n\n**STEP 1: MANDATORY DUPLICATE CHECK (BLOCKING)**\n- **Action:** You MUST call the tool `check_duplicate` first.\n- **Input:** Use the job link provided in the prompt.\n- **Logic:**\n  - If the tool returns `true` (or \"Duplicate\"): **STOP IMMEDIATELY.**\n  - **OUTPUT:** `{\"send_whatsapp\": false, \"reason\": \"Duplicate\"}`.\n  - **FORBIDDEN:** Do NOT proceed to Step 2. Do NOT use `serpapi_request`.\n\n**STEP 2: TEXT SCAN & DOMAIN FILTER**\n- *Only runs if Step 1 passed.*\n- Read the \"Cleaned HTML Text\".\n\n- **SUB-STEP 2.1: DOMAIN CHECK (Crucial)**\n  - Is this a non-technical role (e.g., Finance, HR, Sales)?\n  - -> **YES:** STOP. **INVALID**. (Reason: \"Non-technical role\").\n\n- **SUB-STEP 2.2: BATCH CHECK**\n  - **CHECK A:** Does it contain \"2027\"?\n    -> **YES:** STOP. **MARK VALID**. (Do NOT search).\n  - **CHECK B:** Does it contain \"Pre-final\" or \"Penultimate\"?\n    -> **YES:** STOP. **MARK VALID**. (Do NOT search).\n  - **CHECK C:** Does it contain ONLY \"2026\" or \"2025\" (and NO \"2027\")?\n    -> **YES:** STOP. **INVALID**. (Reason: \"2026 batch only\").\n\n**STEP 3: FALLBACK SEARCH (LAST RESORT)**\n- *Only runs if Step 2 was inconclusive regarding the BATCH YEAR.*\n- *Do NOT search if the role was already rejected as Non-Technical.*\n- **Action:** Call `serpapi_request`.\n- **Input Schema:** `{ \"query\": \"Company Role 2027 eligibility\" }`\n\n**WHATSAPP MESSAGE TEMPLATE:**\n   `*New Internship Alert!*`\n   ` `\n   `*Title:* <Job Title>`\n   `*Company:* <Company Name>`\n   `*Eligibility:* <Short Batch Info>`\n   ` `\n   `*Apply Link:* <Link>`\n\n**OUTPUT INSTRUCTION:**\nReturn ONLY the raw JSON object inside a code block.\nFinal Answer:\n```json\n{\n  \"send_whatsapp\": boolean,\n  \"reason\": \"...\",\n  \"whatsapp_message\": \"...\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1136,
        176
      ],
      "id": "3494bbfb-67a5-4ec5-ab00-458e0aefc0ed",
      "name": "Analyst Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following raw input text and extract all job opportunities into a structured JSON Array.\n\n**RAW INPUT DATA:**\n\"\"\"\n{{ $json.message.text }}\n\"\"\"\n\n**PROCESSING INSTRUCTIONS:**\n1. **Split Check:** If the text lists multiple roles (e.g., separated by \"📌\" or \"1.\", \"2.\"), extract them as SEPARATE objects in the array.\n2. **Link Check:** Do NOT capture \"Join our WhatsApp/Telegram\" channel links as the `apply_link`. Look for the actual application URL (Workday, LinkedIn, Greenhouse, etc.).\n3. **Output:** Return ONLY the JSON Array. No other text.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a high-precision JSON Parsing Backend.\nYour ONLY task is to accept raw text, split it into individual job objects, and output a clean JSON Array.\n\n**CRITICAL RULES (NON-NEGOTIABLE):**\n1. **NO CONVERSATION:** Do not explain, do not say \"Here is the JSON\", do not apologize. Output *only* the JSON.\n2. **FORCE EXECUTION:** Process the input even if it looks like a forwarded message or lacks a polite request.\n3. **LINK PRIORITY:**\n   - **Target:** Extract specific job links (e.g., greenhouse.io, lever.co, myworkday, linkedin.com/jobs, unstop).\n   - **Ignore:** Generic footer links like `whatsapp.com/channel`, `t.me`, or `instagram.com` UNLESS they are the specific application link.\n\n**SPLIT LOGIC (How to detect multiple jobs):**\n- **Delimiters:** Treat the text as multiple jobs if it contains repeating delimiters like:\n  - Emojis: 📌, 🔔, 🚨, 👉 (e.g., \"📌Job A... 📌Job B...\")\n  - Numbering: \"1.\", \"2.\"\n  - Distinct blocks separated by double newlines.\n- **Single Job:** If no delimiters are found, treat the whole text as one job.\n\n**EXTRACTION FIELDS (For each detected job):**\n- \"role\": Job Title (e.g., \"SDE Intern\", \"Data Analyst\"). If \"Hiring for X\", extract \"X\".\n- \"company\": Company Name. (Look for \"Company:\", \"Hiring:\", or \"At [Company]\").\n- \"stipend\": Salary/Stipend numbers (e.g., \"20k\", \"5-10 LPA\"). Default: \"Not specified\".\n- \"eligibility\": Extract Batch (e.g., \"2027\"), Degree, AND Experience (e.g., \"0-1 years\"). Default: \"Not specified\".\n- \"description\": A brief snippet of requirements (Tech stack, location).\n- \"apply_link\": The specific URL to apply. (Remember: Ignore WhatsApp Channel links if a real link exists).\n\n**OUTPUT FORMAT:**\nReturn ONLY the raw JSON Array `[ ... ]`.\n\n**JSON STRUCTURE:**\n[\n  {\n    \"role\": \"extracted title\",\n    \"company\": \"extracted company\",\n    \"stipend\": \"extracted stipend\",\n    \"eligibility\": \"extracted eligibility (include batch & experience)\",\n    \"description\": \"extracted description\",\n    \"apply_link\": \"extracted link\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2304,
        176
      ],
      "id": "26b09482-c232-412d-b764-64e31ab7ae3e",
      "name": "Splitter Agent",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw output from the AI model\n// Adjust 'output' if your node names the field differently (e.g., 'text' or 'content')\nconst rawContent = $input.first().json.output || \"\";\n\n// 2. Clean the string: Remove Markdown code blocks (```json ... ```)\n// This regex removes the start and end code fences\nconst cleanJson = rawContent.replace(/^```json\\s*/i, \"\").replace(/\\s*```$/, \"\");\n\n// 3. Parse the string into a real JavaScript Array\nlet jobsArray = [];\ntry {\n  jobsArray = JSON.parse(cleanJson);\n} catch (error) {\n  // Fallback: If parsing fails, try to return an empty array or log error\n  console.log(\"JSON Parse Error:\", error);\n  jobsArray = [];\n}\n\n// 4. Return separate items for n8n to process\n// This automatically \"splits\" the array so the next node runs 3 times (once for each job)\nreturn jobsArray.map(job => {\n  return {\n    json: job\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        176
      ],
      "id": "89f1be8a-b07f-4886-b78f-38b387948693",
      "name": "JSON Format Fixer"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        32
      ],
      "id": "f0f1f97d-3220-416d-98f8-4e28bab9cb7e",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0",
          "mode": "list",
          "cachedResultName": "InternshipSites",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 198098392,
          "mode": "list",
          "cachedResultName": "Mobile Numbers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit#gid=198098392"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        32,
        32
      ],
      "id": "66f8bcbe-bc5b-4f60-8c98-3053ea093fdf",
      "name": "Get Mobile Numbers",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IlUP2Ct5qrErA6VN",
          "name": "Mojo Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0",
          "mode": "list",
          "cachedResultName": "InternshipSites",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 607067211,
          "mode": "list",
          "cachedResultName": "True Classification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit#gid=607067211"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Telegram Message": "={{ $('JSON Format Fixer').item.json.role }}\n{{ $('JSON Format Fixer').item.json.company }}\n{{ $('JSON Format Fixer').item.json.description }}\n{{ $('JSON Format Fixer').item.json.apply_link }}",
            "Title": "={{ $('JSON Format Fixer').item.json.role }}",
            "Company Name": "={{ $('JSON Format Fixer').item.json.company }}",
            "Eligibility": "={{ $('JSON Format Fixer').item.json.eligibility }}",
            "Application Link": "={{ $('JSON Format Fixer').item.json.apply_link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telegram Message",
              "displayName": "Telegram Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Eligibility",
              "displayName": "Eligibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Application Link",
              "displayName": "Application Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        -64
      ],
      "id": "362bd485-f75a-4e03-a381-8be79eae9826",
      "name": "Append Valid",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IlUP2Ct5qrErA6VN",
          "name": "Mojo Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0",
          "mode": "list",
          "cachedResultName": "InternshipSites",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181431973,
          "mode": "list",
          "cachedResultName": "False Classification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit#gid=181431973"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Rejection Reason": "={{ $('Output Parser').item.json.reason }}",
            "Application Link": "={{ $('JSON Format Fixer').item.json.apply_link }}",
            "Telegram Message": "={{ $('JSON Format Fixer').item.json.role }}\n{{ $('JSON Format Fixer').item.json.company }}\n{{ $('JSON Format Fixer').item.json.description }}\n{{ $('JSON Format Fixer').item.json.apply_link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telegram Message",
              "displayName": "Telegram Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Application Link",
              "displayName": "Application Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rejection Reason",
              "displayName": "Rejection Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        32,
        224
      ],
      "id": "6b6ed48c-9ea1-4547-8ce0-a7c6b5fa51be",
      "name": "Append Rejected",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IlUP2Ct5qrErA6VN",
          "name": "Mojo Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1232,
        400
      ],
      "id": "7165ac30-41a5-4a04-9fa7-462062368fb6",
      "name": "Analyst Main",
      "credentials": {
        "openRouterApi": {
          "id": "FVYZaHIKcsth7Wm5",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_VM_IP:3000/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "=+{{ $json['Phone Number'] }}"
            },
            {
              "name": "message",
              "value": "={{ $('Output Parser').item.json.whatsapp_message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        128
      ],
      "id": "e815c811-c9f3-416c-b929-9145eadf3752",
      "name": "Send Whatsapp Message",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "toolDescription": "Performs a Google search to verify internship eligibility. Use this ONLY when the provided text is ambiguous or missing the batch year (e.g., '2027'). CRITICAL: You must provide a specific query string (e.g., 'Google Software Engineer Intern 2027 eligibility').",
        "method": "POST",
        "url": "https://n8n.shravanpandala.me/webhook/serpapi_search",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `The search query string (e.g. 'Company Role 2027 eligibility')`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -976,
        400
      ],
      "id": "a093e9d7-26fe-4ed7-ae55-63a253168ea1",
      "name": "serpapi_request"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1104,
        400
      ],
      "id": "1e3917f8-87db-41cc-a4a9-e99e77e9c8f1",
      "name": "Analyst Fallback",
      "credentials": {
        "groqApi": {
          "id": "FkhyWZc9SiOUnDIJ",
          "name": "API KEY 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.apply_link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1680,
        176
      ],
      "id": "1de8abd9-1dc7-4100-bc73-e4e18220d132",
      "name": "Get HTML",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw content from the correct field ('text')\nlet rawContent = items[0].json.text;\n\n// 2. Safety Check: If input is missing or null\nif (!rawContent) {\n   return [{ json: { text: \"EMPTY_HTML_ERROR\" } }];\n}\n\n// 3. Handle the \"Redirect/JSON\" case (Your first screenshot)\n// If the content is a JSON string (starts with '{'), it is NOT valid HTML.\nif (typeof rawContent === 'string' && rawContent.trim().startsWith('{')) {\n   return [{ json: { text: \"EMPTY_HTML_ERROR\" } }];\n}\n\n// 4. Ensure input is a string for the Regex\nif (typeof rawContent !== 'string') {\n    // If it's somehow an object, stringify it or fail\n    try {\n        rawContent = JSON.stringify(rawContent);\n    } catch (e) {\n        return [{ json: { text: \"EMPTY_HTML_ERROR\" } }];\n    }\n}\n\n// 5. Cleaning Function\nfunction cleanText(html) {\n  if (!html) return \"\";\n  \n  // Remove <script> and <style> blocks entirely\n  let text = html.replace(/<script\\b[^>]*>([\\s\\S]*?)<\\/script>/gm, \"\");\n  text = text.replace(/<style\\b[^>]*>([\\s\\S]*?)<\\/style>/gm, \"\");\n  \n  // Remove all HTML tags\n  text = text.replace(/<[^>]+>/g, \"\\n\");\n  \n  // Collapse multiple spaces/newlines into single spaces\n  text = text.replace(/\\s+/g, \" \").trim();\n  \n  return text;\n}\n\nconst clean = cleanText(rawContent);\n\n// 6. Final Check: If the cleaned text is too short, it's likely a bad scrape.\nif (clean.length < 20) {\n    return [{ json: { text: \"EMPTY_HTML_ERROR\" } }];\n}\n\n// 7. Success Output\nreturn [{ json: { text: clean } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        176
      ],
      "id": "080fc5c4-91d9-4d96-bb69-61db3b0feb30",
      "name": "HTML Cleaner",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw text output from the Agent\n// (If your agent output field is named 'text', change 'output' to 'text' below)\nconst rawText = items[0].json.output || items[0].json.text;\n\n// 1. Try to find JSON inside markdown blocks ```json ... ```\nconst markdownMatch = rawText.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n\n// 2. Try to find a raw JSON object { ... }\nconst rawMatch = rawText.match(/\\{[\\s\\S]*\\}/);\n\nlet finalJson = {};\n\ntry {\n  if (markdownMatch) {\n    finalJson = JSON.parse(markdownMatch[1]);\n  } else if (rawMatch) {\n    finalJson = JSON.parse(rawMatch[0]);\n  } else {\n    // If no JSON found, return a safe failure object\n    finalJson = { \n      send_whatsapp: false, \n      reason: \"Agent failed to output valid JSON\", \n      raw_output: rawText \n    };\n  }\n} catch (error) {\n  finalJson = { \n    send_whatsapp: false, \n    reason: \"JSON Parsing Failed\", \n    error_details: error.message \n  };\n}\n\nreturn [{ json: finalJson }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        176
      ],
      "id": "d9f6e102-ca91-4ac2-9594-81c79819c162",
      "name": "Output Parser"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "CRITICAL: \nCall this FIRST. Checks if the job link is already in the database. If it returns any valid item as output , you must STOP immediately and return send_whatsapp: false.",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "yOfWQK9CB3soT3Ai",
          "mode": "list",
          "cachedResultName": "Internship Alerts",
          "cachedResultUrl": "/projects/0aENaaiAf9dL9Hyo/datatables/yOfWQK9CB3soT3Ai"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Application_Link",
              "keyValue": "={{ $('JSON Format Fixer').item.json.apply_link }}"
            }
          ]
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        -848,
        400
      ],
      "id": "e1bf1edb-a946-4914-af46-510185ab3c54",
      "name": "check_duplicate"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "yOfWQK9CB3soT3Ai",
          "mode": "list",
          "cachedResultName": "Internship Alerts",
          "cachedResultUrl": "/projects/0aENaaiAf9dL9Hyo/datatables/yOfWQK9CB3soT3Ai"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Application_Link",
              "keyValue": "={{ $('JSON Format Fixer').item.json.apply_link }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -416,
        176
      ],
      "id": "18e77573-8fa3-4abc-a25b-1a07765814d7",
      "name": "Check for duplicate valid",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2144,
        400
      ],
      "id": "d80e178e-26db-4cf6-ab35-15222cee15e0",
      "name": "Splitter Fallback",
      "credentials": {
        "openRouterApi": {
          "id": "FVYZaHIKcsth7Wm5",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2272,
        400
      ],
      "id": "d42e8872-87ee-4194-8eaa-9a17715a4385",
      "name": "Splitter Main",
      "credentials": {
        "groqApi": {
          "id": "FkhyWZc9SiOUnDIJ",
          "name": "API KEY 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Splitter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Mobile Numbers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyst Agent": {
      "main": [
        [
          {
            "node": "Output Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splitter Agent": {
      "main": [
        [
          {
            "node": "JSON Format Fixer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Format Fixer": {
      "main": [
        [
          {
            "node": "Get HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Append Valid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Whatsapp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mobile Numbers": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyst Main": {
      "ai_languageModel": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Whatsapp Message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "serpapi_request": {
      "ai_tool": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analyst Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Get HTML": {
      "main": [
        [
          {
            "node": "HTML Cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Cleaner": {
      "main": [
        [
          {
            "node": "Analyst Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Rejected": {
      "main": [
        []
      ]
    },
    "Append Valid": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        []
      ]
    },
    "Output Parser": {
      "main": [
        [
          {
            "node": "Check for duplicate valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_duplicate": {
      "ai_tool": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check for duplicate valid": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splitter Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Splitter Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Splitter Main": {
      "ai_languageModel": [
        [
          {
            "node": "Splitter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timezone": "Asia/Kolkata"
  },
  "versionId": "e6f6f035-f1ab-4d5b-a635-306b6c2c80c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19921415bac6b77b91e822c3e97165800ced3a4d6f63d204500fd50a2d359050"
  },
  "id": "7RheTDxZFSBNrlxQ",
  "tags": []
}
