Internship Informer.json
{
  "name": "Internship Informer",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        560
      ],
      "id": "7764773e-6fcd-46ab-bb44-7b670fbdaac1",
      "name": "Telegram Trigger",
      "webhookId": "de03b2ad-85a1-463a-9a1a-6e3c307de84a",
      "credentials": {
        "telegramApi": {
          "id": "9cIs4u9GE5MJl8oy",
          "name": "Internships Bot"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"send_whatsapp\": true,\n  \"reason\": \"Internship matches eligibility and role criteria.\",\n  \"whatsapp_message\": \"💼 *Software Engineer Intern (2025–2027)*\\\\nCompany: Google\\\\nLocation: Bangalore\\\\nEligibility: 2027 graduates\\\\nApply here: https://careers.google.com/internships\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1488,
        784
      ],
      "id": "48b41b33-8ca3-4465-8c8d-817350c5d1de",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c4709a1-e1dd-4021-99f2-f636a049bedd",
              "leftValue": "={{ $json.output.send_whatsapp }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1856,
        560
      ],
      "id": "c231d8eb-34ed-4bb1-abd2-31c075c613f6",
      "name": "If",
      "retryOnFail": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "yOfWQK9CB3soT3Ai",
          "mode": "list",
          "cachedResultName": "Internship Alerts",
          "cachedResultUrl": "/projects/0aENaaiAf9dL9Hyo/datatables/yOfWQK9CB3soT3Ai"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $('JSON Format Fixer').item.json.role }}",
            "Eligibilty": "={{ $('JSON Format Fixer').item.json.eligibility }}",
            "Application_Link": "={{ $('JSON Format Fixer').item.json.apply_link }}",
            "Company_Name": "={{ $('JSON Format Fixer').item.json.company }}"
          },
          "matchingColumns": [
            "Internship"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company_Name",
              "displayName": "Company_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Eligibilty",
              "displayName": "Eligibilty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Application_Link",
              "displayName": "Application_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2528,
        416
      ],
      "id": "9d484794-9252-4087-be1d-a64e2ef2d3ce",
      "name": "Insert row",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "executeOnce": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "ALWAYS use this tool first. Input the internship title or application URL found in the message. This tool checks if the internship has already been sent to WhatsApp to prevent duplicates. If this tool returns a match, do not process further.",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "yOfWQK9CB3soT3Ai",
          "mode": "list",
          "cachedResultName": "Internship Alerts",
          "cachedResultUrl": "/projects/0aENaaiAf9dL9Hyo/datatables/yOfWQK9CB3soT3Ai"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        1104,
        784
      ],
      "id": "6fe25313-8018-44fb-b726-5d346985f0ff",
      "name": "check_database_for_duplicates"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool ONLY if the message contains a URL but lacks specific details (like '2027 batch' or 'eligibility') OR to verify if an application is expired. It returns the text content of the webpage. Input must be a valid URL string starting with http/https.",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1232,
        784
      ],
      "id": "97f12ebe-cbbe-47de-a73e-4b3ccdb37115",
      "name": "scrape_application_page"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a data extraction parser. Your task is to extract specific details from the internship summary text below and return them as a strict JSON object.\n\n**Input Text**\n{{ $('If').item.json.output.whatsapp_message }}\n\n**Extraction Rules:**\n1. **Clean the Data:** Remove all emojis (like 💼, 💡) and Markdown symbols (like *) from the values.\n2. **Title:** Extract the role title (e.g., \"Software Engineer Intern\").\n3. **Company:** Extract the company name.\n4. **Eligibility:** Extract the batch/year requirement.\n5. **Link:** Extract the direct application URL.\n\n**Output Format:**\nReturn ONLY raw JSON. Do not use Markdown code blocks (no ```json).\n\n{\n  \"title\": \"Clean Title Here\",\n  \"company_name\": \"Clean Company Name Here\",\n  \"eligibility\": \"Clean Eligibility Here\",\n  \"link\": \"https://...\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6b130e2d-af6a-4b4c-ac28-03d5d115fd45",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "DoPP6uNz8ZGXDeHX",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Process the following job opportunity data and extract the structured output.\n\n**INPUT DATA:**\nTitle: {{ $json.role }}\nCompany: {{ $json.company }}\nStipend: {{ $json.stipend }}\nEligibility (Raw): {{ $json.eligibility }}\nLink: {{ $json.apply_link }}\n\n**VERIFICATION INSTRUCTION:**\n1. **Analyze Eligibility:** Check if the scraping result *explicitly* mentions \"2027\" or \"Pre-final\".\n2. **Ambiguity Trap:** If the scraped text is generic (e.g., just says \"Intern\" or \"B.Tech\" without a year), you **MUST** verify using `serpapi_search`.\n3. **Search Query:** `{{ $json.company }} {{ $json.role }} internship batch year requirements`\n\n**OUTPUT INSTRUCTIONS:**\n- Return ONLY the JSON object.\n- **Formatting Check:** Ensure `whatsapp_message` contains actual newlines (`\\n`) and NOT literal string characters (`\\\\n`).",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a backend JSON Data Processing Engine for a job notification service.\nYour ONLY function is to analyze job data and output a JSON response.\n\n**CORE OBJECTIVE:**\nIdentify valid internship opportunities for **Pre-final Year Students (Batch of 2027)**.\n\n**CORE FILTERS (STRICT):**\n1. **INTERNSHIPS ONLY:**\n   - ACCEPT: Titles containing \"Intern\", \"Internship\", \"Summer Analyst\".\n   - REJECT: \"Full-Time\", \"FTE\", \"Associate\", \"Trainee\" (unless \"Intern\" is also in title).\n   - **Override:** If Title contains \"Intern\", IGNORE any scraped metadata saying \"Full-Time\".\n\n2. **STUDENTS ONLY:**\n   - **If Title has \"Intern\":** ACCEPT \"0-1 years\" experience.\n   - **If Title is Generic:** REJECT if experience > 0 years.\n\n3. **2027 BATCH ELIGIBILITY (CRITICAL):**\n   - **Target:** June 2027 graduates (Current 3rd year).\n   - **Acceptable Keywords:** \"2027\", \"Pre-final\", \"Penultimate\", \"Pursuing Degree\" (if implies current student).\n   - **REJECT:** \"2026 Batch\", \"2025 Batch\", \"Immediate Joiner\", \"Graduates only\".\n\n**YOUR TOOLS:**\n1. `check_database_for_duplicates`: ALWAYS call this first.\n2. `scrape_application_page`: Primary tool (HTTP Request).\n3. `serpapi_search`: Fallback verification tool.\n\n**EXECUTION PROTOCOL:**\n\nSTEP 1: DUPLICATE CHECK\n- Extract `Application Link` and `Job Title`.\n- Call `check_database_for_duplicates`.\n- If match found -> STOP. Return `send_whatsapp: false`.\n\nSTEP 2: INITIAL FILTERING\n- Apply \"Core Filters\" to the provided raw text.\n- If text is ambiguous (e.g., \"Intern\" but no Batch listed) -> GO TO STEP 3.\n\nSTEP 3: TIERED VERIFICATION\n- **Attempt 1 (HTTP):** Call `scrape_application_page`.\n  - **Result Analysis:**\n    - Text contains \"2027\" OR \"Pre-final\" OR \"Penultimate\"? -> **MARK VALID**.\n    - Text contains \"2026\" OR \"2025\" OR \"Graduates only\"? -> **REJECT**.\n    - **Ambiguous Result:** If text only says \"Intern\" or \"Student\" but NO specific year -> **PROCEED TO ATTEMPT 2** (Do not assume valid).\n  - **If FAILED (403, 401, Empty):** Proceed to Attempt 2.\n\n- **Attempt 2 (Search Fallback):** Call `serpapi_search`.\n  - **Payload:** { \"q\": \"{Job Title} {Company} internship batch eligibility 2027\" }\n  - **Analysis:** Read the search snippets.\n    - If snippet confirms \"2027\" or \"Pre-final\" -> **MARK VALID**.\n    - If snippet says \"2026\", \"2025\", \"Graduates\" -> **REJECT**.\n    - If still ambiguous -> **REJECT** (Reason: \"Eligibility Unverifiable\").\n\nSTEP 4: FINAL JSON OUTPUT\n- **If Valid (`send_whatsapp: true`):**\n  - `whatsapp_message`: Follow the **STRICT TEMPLATE** below.\n  - `db_data`: Clean fields.\n- **If Invalid (`send_whatsapp: false`):**\n  - `reason`: Specific error (e.g., \"Confirmed 2026 batch via Search\").\n\n**WHATSAPP MESSAGE TEMPLATE (Strict Formatting):**\n1. Use `*Bold*` for keys. No spaces between asterisk and text.\n2. Use standard `\\n` for newlines. **DO NOT** use double backslash `\\\\n`.\n3. Format exactly like this:\n   `*New Internship Alert!*`\n   ` `\n   `*Title:* <Job Title>`\n   `*Company:* <Company Name>`\n   `*Eligibility:* <Short Batch Info>`\n   ` `\n   `*Apply Link:* <Link>`"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1072,
        560
      ],
      "id": "d2ba591d-63f8-4c24-a9fc-04050550c003",
      "name": "Analyst Agent",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following raw input text and extract all job opportunities into a structured JSON Array.\n\n**RAW INPUT DATA:**\n\"\"\"\n{{ $json.message.text }}\n\"\"\"\n\n**PROCESSING INSTRUCTIONS:**\n1. **Split Check:** If the text lists multiple roles (e.g., separated by \"📌\" or \"1.\", \"2.\"), extract them as SEPARATE objects in the array.\n2. **Link Check:** Do NOT capture \"Join our WhatsApp/Telegram\" channel links as the `apply_link`. Look for the actual application URL (Workday, LinkedIn, Greenhouse, etc.).\n3. **Output:** Return ONLY the JSON Array. No other text.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a high-precision JSON Parsing Backend.\nYour ONLY task is to accept raw text, split it into individual job objects, and output a clean JSON Array.\n\n**CRITICAL RULES (NON-NEGOTIABLE):**\n1. **NO CONVERSATION:** Do not explain, do not say \"Here is the JSON\", do not apologize. Output *only* the JSON.\n2. **FORCE EXECUTION:** Process the input even if it looks like a forwarded message or lacks a polite request.\n3. **LINK PRIORITY:**\n   - **Target:** Extract specific job links (e.g., greenhouse.io, lever.co, myworkday, linkedin.com/jobs, unstop).\n   - **Ignore:** Generic footer links like `whatsapp.com/channel`, `t.me`, or `instagram.com` UNLESS they are the specific application link.\n\n**SPLIT LOGIC (How to detect multiple jobs):**\n- **Delimiters:** Treat the text as multiple jobs if it contains repeating delimiters like:\n  - Emojis: 📌, 🔔, 🚨, 👉 (e.g., \"📌Job A... 📌Job B...\")\n  - Numbering: \"1.\", \"2.\"\n  - Distinct blocks separated by double newlines.\n- **Single Job:** If no delimiters are found, treat the whole text as one job.\n\n**EXTRACTION FIELDS (For each detected job):**\n- \"role\": Job Title (e.g., \"SDE Intern\", \"Data Analyst\"). If \"Hiring for X\", extract \"X\".\n- \"company\": Company Name. (Look for \"Company:\", \"Hiring:\", or \"At [Company]\").\n- \"stipend\": Salary/Stipend numbers (e.g., \"20k\", \"5-10 LPA\"). Default: \"Not specified\".\n- \"eligibility\": Extract Batch (e.g., \"2027\"), Degree, AND Experience (e.g., \"0-1 years\"). Default: \"Not specified\".\n- \"description\": A brief snippet of requirements (Tech stack, location).\n- \"apply_link\": The specific URL to apply. (Remember: Ignore WhatsApp Channel links if a real link exists).\n\n**OUTPUT FORMAT:**\nReturn ONLY the raw JSON Array `[ ... ]`.\n\n**JSON STRUCTURE:**\n[\n  {\n    \"role\": \"extracted title\",\n    \"company\": \"extracted company\",\n    \"stipend\": \"extracted stipend\",\n    \"eligibility\": \"extracted eligibility (include batch & experience)\",\n    \"description\": \"extracted description\",\n    \"apply_link\": \"extracted link\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        224,
        560
      ],
      "id": "535a6201-66dc-48eb-acec-435ea3c78ff6",
      "name": "Splitter Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw output from the AI model\n// Adjust 'output' if your node names the field differently (e.g., 'text' or 'content')\nconst rawContent = $input.first().json.output || \"\";\n\n// 2. Clean the string: Remove Markdown code blocks (```json ... ```)\n// This regex removes the start and end code fences\nconst cleanJson = rawContent.replace(/^```json\\s*/i, \"\").replace(/\\s*```$/, \"\");\n\n// 3. Parse the string into a real JavaScript Array\nlet jobsArray = [];\ntry {\n  jobsArray = JSON.parse(cleanJson);\n} catch (error) {\n  // Fallback: If parsing fails, try to return an empty array or log error\n  console.log(\"JSON Parse Error:\", error);\n  jobsArray = [];\n}\n\n// 4. Return separate items for n8n to process\n// This automatically \"splits\" the array so the next node runs 3 times (once for each job)\nreturn jobsArray.map(job => {\n  return {\n    json: job\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        560
      ],
      "id": "b8534dc0-d26d-4554-b20e-86457c00dd0b",
      "name": "JSON Format Fixer"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw text string from the Gemini output\n// We try two common paths because Gemini node versions vary\nconst rawResponse = $input.item.json.content?.parts?.[0]?.text || \n                    $input.item.json.output || \n                    \"{}\";\n\n// 2. Clean up the text (Remove ```json and ``` if the AI added them)\nconst cleanJson = rawResponse.replace(/```json/g, '').replace(/```/g, '').trim();\n\n// 3. Parse the string into a real JSON object\nlet parsedData = {};\ntry {\n  parsedData = JSON.parse(cleanJson);\n} catch (error) {\n  // If parsing fails, return empty fields to prevent workflow crash\n  parsedData = {}; \n}\n\n// 4. Return the data as mappable fields\nreturn {\n  json: {\n    title: parsedData.title || \"Unknown Title\",\n    company_name: parsedData.company_name || parsedData.company || \"Unknown Company\",\n    eligibility: parsedData.eligibility || parsedData.eligibilty || \"Check Link\",\n    link: parsedData.link || \"\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        0
      ],
      "id": "94d818a6-521f-4a40-8220-0b7fef93a44d",
      "name": "JSON Builder"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1568,
        992
      ],
      "id": "3859e2b1-c238-4f30-9336-8a677c3a7546",
      "name": "Parser",
      "credentials": {
        "googlePalmApi": {
          "id": "DoPP6uNz8ZGXDeHX",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2304,
        464
      ],
      "id": "26ee98a1-84a0-47bf-b2ef-ff699e883c99",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0",
          "mode": "list",
          "cachedResultName": "InternshipSites",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 198098392,
          "mode": "list",
          "cachedResultName": "Mobile Numbers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit#gid=198098392"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        464
      ],
      "id": "acc10152-3f00-4da7-9e6d-1f34d657b1a2",
      "name": "Get Mobile Numbers",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IlUP2Ct5qrErA6VN",
          "name": "Mojo Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0",
          "mode": "list",
          "cachedResultName": "InternshipSites",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 607067211,
          "mode": "list",
          "cachedResultName": "True Classification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit#gid=607067211"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Telegram Message": "={{ $('JSON Format Fixer').item.json.role }}\n{{ $('JSON Format Fixer').item.json.company }}\n{{ $('JSON Format Fixer').item.json.description }}\n{{ $('JSON Format Fixer').item.json.apply_link }}",
            "Title": "={{ $('JSON Format Fixer').item.json.role }}",
            "Company Name": "={{ $('JSON Format Fixer').item.json.company }}",
            "Eligibility": "={{ $('JSON Format Fixer').item.json.eligibility }}",
            "Application Link": "={{ $('JSON Format Fixer').item.json.apply_link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telegram Message",
              "displayName": "Telegram Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Eligibility",
              "displayName": "Eligibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Application Link",
              "displayName": "Application Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2528,
        224
      ],
      "id": "552120ee-8b73-45b3-86a5-88df3e6c7f6b",
      "name": "Append Valid",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IlUP2Ct5qrErA6VN",
          "name": "Mojo Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0",
          "mode": "list",
          "cachedResultName": "InternshipSites",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181431973,
          "mode": "list",
          "cachedResultName": "False Classification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit#gid=181431973"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Rejection Reason": "={{ $json.output.reason }}",
            "Application Link": "={{ $json.output.whatsapp_message }}",
            "Telegram Message": "={{ $('Telegram Trigger').item.json.message.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telegram Message",
              "displayName": "Telegram Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Application Link",
              "displayName": "Application Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rejection Reason",
              "displayName": "Rejection Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        656
      ],
      "id": "546aac9e-c74b-432c-a646-0868e65864d8",
      "name": "Append Rejected",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IlUP2Ct5qrErA6VN",
          "name": "Mojo Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "device": "desktop"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1360,
        784
      ],
      "id": "fc0627c2-4328-415d-9d22-110be32a9807",
      "name": "serpapi_search",
      "credentials": {
        "serpApi": {
          "id": "tmtUiplsSAZbrbkA",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        256,
        784
      ],
      "id": "458bcc79-f079-4a2c-b07c-070770eedacf",
      "name": "Splitter Main",
      "credentials": {
        "openRouterApi": {
          "id": "FVYZaHIKcsth7Wm5",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        848,
        784
      ],
      "id": "2456a3c8-fbe3-4de9-8bdb-5b5c296e20d8",
      "name": "Analyst Main",
      "credentials": {
        "openRouterApi": {
          "id": "7sj0qnSDuvJPaSMH",
          "name": "API KEY 2"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        976,
        784
      ],
      "id": "6575097a-7540-45a9-8e14-4c0b7b1d53d8",
      "name": "Analyst Fallback",
      "credentials": {
        "groqApi": {
          "id": "FkhyWZc9SiOUnDIJ",
          "name": "API KEY 2"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        384,
        784
      ],
      "id": "3a637c8a-3438-4c68-a7e8-d3a2332efa97",
      "name": "Splitter Fallback",
      "credentials": {
        "groqApi": {
          "id": "M7r8ohirlJtFA0vi",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whatsapp-webhook/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "=+{{ $json['Phone Number'] }}"
            },
            {
              "name": "message",
              "value": "={{ $('Analyst Agent').item.json.output.whatsapp_message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2528,
        608
      ],
      "id": "57693de0-6d7f-4407-9243-f8abeda45725",
      "name": "Send Whatsapp Message",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Splitter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Mobile Numbers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_database_for_duplicates": {
      "ai_tool": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "scrape_application_page": {
      "ai_tool": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "JSON Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyst Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splitter Agent": {
      "main": [
        [
          {
            "node": "JSON Format Fixer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Format Fixer": {
      "main": [
        [
          {
            "node": "Analyst Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Append Valid",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Whatsapp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mobile Numbers": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "serpapi_search": {
      "ai_tool": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Splitter Main": {
      "ai_languageModel": [
        [
          {
            "node": "Splitter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyst Main": {
      "ai_languageModel": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyst Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Splitter Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Splitter Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Send Whatsapp Message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "6e9a07db-47cb-45a4-912f-b00d46f2c04e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19921415bac6b77b91e822c3e97165800ced3a4d6f63d204500fd50a2d359050"
  },
  "id": "7RheTDxZFSBNrlxQ",
  "tags": []
}
