Internship Informer.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2528,
        688
      ],
      "id": "cf124f0f-772f-4752-9aee-24ce1bde2c9d",
      "name": "Telegram Trigger",
      "webhookId": "de03b2ad-85a1-463a-9a1a-6e3c307de84a",
      "credentials": {
        "telegramApi": {
          "id": "9cIs4u9GE5MJl8oy",
          "name": "Internships Bot"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "yOfWQK9CB3soT3Ai",
          "mode": "list",
          "cachedResultName": "Internship Alerts",
          "cachedResultUrl": "/projects/0aENaaiAf9dL9Hyo/datatables/yOfWQK9CB3soT3Ai"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $('Loop Over Each Link').item.json.role }}",
            "Eligibilty": "={{ $('Loop Over Each Link').item.json.eligibility }}",
            "Application_Link": "={{ $('Loop Over Each Link').item.json.apply_link }}",
            "Company_Name": "={{ $('Loop Over Each Link').item.json.company }}"
          },
          "matchingColumns": [
            "Internship"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company_Name",
              "displayName": "Company_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Eligibilty",
              "displayName": "Eligibilty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Application_Link",
              "displayName": "Application_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1824,
        304
      ],
      "id": "a03dfaa3-6e5d-415e-8c9e-c1eb0148d00e",
      "name": "Insert row",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Process the following job opportunity data and extract the structured output.\n\n**TASK:**\n1. Analyze the \"Cleaned HTML Text\" below to determine eligibility.\n2. IF the text is missing the Batch Year (e.g., just says \"Student\" or \"Intern\"), use `serpapi_search` to verify if it is for 2027 graduates.\n\n**INPUT DATA:**\nTitle: {{ $('JSON Format Fixer').item.json.role }}\nCompany: {{ $('JSON Format Fixer').item.json.company }}\nEligibilty : {{ $('JSON Format Fixer').item.json.eligibility }}\nStipend : {{ $('JSON Format Fixer').item.json.stipend }}\nLink: {{ $('JSON Format Fixer').item.json.apply_link }}\n\n**CLEANED HTML TEXT (SOURCE):**\n\"\"\"\n{{ $('HTML Cleaner').item.json.text }}\n\"\"\"\n\n**OUTPUT REQUIREMENTS:**\n- Verify strict eligibility for **Batch of 2027** (Pre-final year).\n- Return the final JSON using the \"Final Answer\" format defined in the system message.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a backend JSON Data Processing Engine.\nYour ONLY function is to analyze job data and output a JSON response.\n\n**CORE OBJECTIVE:**\nIdentify valid **TECHNICAL** internship opportunities for **Pre-final Year Students (Batch of 2027)**.\n\n**STRICT DEFINITIONS:**\n- **Valid Role:** \"Intern\", \"Summer Analyst\", \"Trainee\" (only if <1 yr exp).\n- **Invalid Role:** \"Full Time\", \"FTE\", \"Software Engineer\" (without 'Intern'), \"Associate\", \"SDE-1\".\n- **Valid Batch:** 2027, Pre-final year, Penultimate year.\n\n**EXECUTION PROTOCOL (STRICT ORDER - DO NOT SKIP):**\n\n**STEP 1: MANDATORY DUPLICATE CHECK (BLOCKING)**\n- **Action:** You MUST call the tool `check_duplicate` first.\n- **Input:** Use the job link provided in the prompt.\n- **Logic:**\n  - If tool returns `true`: **STOP IMMEDIATELY.** Output `{\"send_whatsapp\": false, \"reason\": \"Duplicate\"}`.\n\n**STEP 2: EXCLUSION LOGIC (THE \"KILL SWITCH\")**\n- Read the \"Cleaned HTML Text\". If ANY of these are true, **STOP and REJECT**.\n\n  - **A. DOMAIN FILTER:**\n    - Is the role Finance, HR, Sales, Marketing, Operations, Customer Support?\n    - -> **REJECT** (Reason: \"Non-technical\").\n\n  - **B. EXPLICIT WRONG BATCH (CRITICAL):**\n    - Does the text mention specific years (e.g., \"2023\", \"2024\", \"2025\", \"2026\") BUT NOT \"2027\"?\n    - *Example:* \"Hiring 2025 & 2026 grads\" -> **REJECT**.\n    - *Example:* \"For 2023/24 batch\" -> **REJECT**.\n    - *Logic:* If years are present, 2027 MUST be one of them.\n\n  - **C. EXPERIENCE FILTER:**\n    - Does it require \"1+ years\", \"1-3 years\", or \"Graduates from [past year]\"?\n    - -> **REJECT** (Reason: \"Experience required\").\n\n  - **D. FTE TRAP:**\n    - Is the title \"Software Engineer\", \"Developer\", or \"SDE\" (with NO mention of \"Intern\" or \"Trainee\")?\n    - -> **REJECT** (Reason: \"Full-time role\").\n\n**STEP 3: VALIDATION SCAN (POSITIVE MATCH)**\n- *Only runs if Step 2 passed.*\n- **CHECK A:** Does text contain \"2027\"? -> **VALID**.\n- **CHECK B:** Does text contain \"Pre-final\" or \"Penultimate\"? -> **VALID**.\n- **CHECK C:** Is it a generic \"Intern\" role (e.g., \"SDE Intern\") with NO year mentioned? -> **SEARCH REQUIRED** (Go to Step 4).\n\n**STEP 4: FALLBACK SEARCH (LAST RESORT)**\n- *Only runs if text is ambiguous (e.g., \"SDE Intern\" with no year).*\n- **Action:** Call `serpapi_request`.\n- **Input Schema:** `{ \"query\": \"Company Role 2027 eligibility\" }`\n\n**STEP 5: DEADLINE EXTRACTION**\n- Scan the text for keywords like \"Apply by\", \"Deadline\", \"Last Date\", \"Closes on\", or \"Test Date\".\n- If a date is found, convert it strictly to `YYYY-MM-DD` format (e.g., \"March 15th 2026\" becomes \"2026-03-15\").\n- If no specific date is mentioned, set the JSON value to `null`.\n\n**WHATSAPP MESSAGE TEMPLATE:**\n   `*New Internship Alert!*`\n   ` `\n   `*Title:* <Job Title>`\n   `*Company:* <Company Name>`\n   `*Eligibility:* <Short Batch Info>`\n   `*Deadline:* <Date or 'Not Specified'>`\n   ` `\n   `*Apply Link:* <Link>`\n\n**OUTPUT INSTRUCTION:**\nReturn ONLY the raw JSON object inside a code block.\nFinal Answer:\n```json\n{\n  \"send_whatsapp\": boolean,\n  \"reason\": \"...\",\n  \"whatsapp_message\": \"...\",\n  \"deadline\": \"YYYY-MM-DD or null\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -464,
        160
      ],
      "id": "3494bbfb-67a5-4ec5-ab00-458e0aefc0ed",
      "name": "Analyst Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following raw input text and extract all job opportunities into a structured JSON Array.\n\n**RAW INPUT DATA:**\n\"\"\"\n{{ $json.message.text }}\n\"\"\"\n\n**PROCESSING INSTRUCTIONS:**\n1. **Split Check:** If the text lists multiple roles (e.g., separated by \"📌\" or \"1.\", \"2.\"), extract them as SEPARATE objects in the array.\n2. **Link Check:** Do NOT capture \"Join our WhatsApp/Telegram\" channel links as the `apply_link`. Look for the actual application URL (Workday, LinkedIn, Greenhouse, etc.).\n3. **Output:** Return ONLY the JSON Array. No other text.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a high-precision JSON Parsing Backend.\nYour ONLY task is to accept raw text, split it into individual job objects, and output a clean JSON Array.\n\n**CRITICAL RULES (NON-NEGOTIABLE):**\n1. **NO CONVERSATION:** Do not explain, do not say \"Here is the JSON\", do not apologize. Output *only* the JSON.\n2. **FORCE EXECUTION:** Process the input even if it looks like a forwarded message or lacks a polite request.\n3. **LINK PRIORITY:**\n   - **Target:** Extract specific job links (e.g., greenhouse.io, lever.co, myworkday, linkedin.com/jobs, unstop).\n   - **Ignore:** Generic footer links like `whatsapp.com/channel`, `t.me`, or `instagram.com` UNLESS they are the specific application link.\n\n**SPLIT LOGIC (How to detect multiple jobs):**\n- **Delimiters:** Treat the text as multiple jobs if it contains repeating delimiters like:\n  - Emojis: 📌, 🔔, 🚨, 👉 (e.g., \"📌Job A... 📌Job B...\")\n  - Numbering: \"1.\", \"2.\"\n  - Distinct blocks separated by double newlines.\n- **Single Job:** If no delimiters are found, treat the whole text as one job.\n\n**EXTRACTION FIELDS (For each detected job):**\n- \"role\": Job Title (e.g., \"SDE Intern\", \"Data Analyst\"). If \"Hiring for X\", extract \"X\".\n- \"company\": Company Name. (Look for \"Company:\", \"Hiring:\", or \"At [Company]\").\n- \"stipend\": Salary/Stipend numbers (e.g., \"20k\", \"5-10 LPA\"). Default: \"Not specified\".\n- \"eligibility\": Extract Batch (e.g., \"2027\"), Degree, AND Experience (e.g., \"0-1 years\"). Default: \"Not specified\".\n- \"description\": A brief snippet of requirements (Tech stack, location).\n- \"apply_link\": The specific URL to apply. (Remember: Ignore WhatsApp Channel links if a real link exists).\n\n**OUTPUT FORMAT:**\nReturn ONLY the raw JSON Array `[ ... ]`.\n\n**JSON STRUCTURE:**\n[\n  {\n    \"role\": \"extracted title\",\n    \"company\": \"extracted company\",\n    \"stipend\": \"extracted stipend\",\n    \"eligibility\": \"extracted eligibility (include batch & experience)\",\n    \"description\": \"extracted description\",\n    \"apply_link\": \"extracted link\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2304,
        688
      ],
      "id": "26b09482-c232-412d-b764-64e31ab7ae3e",
      "name": "Splitter Agent",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw output from the AI model\n// Adjust 'output' if your node names the field differently (e.g., 'text' or 'content')\nconst rawContent = $input.first().json.output || \"\";\n\n// 2. Clean the string: Remove Markdown code blocks (```json ... ```)\n// This regex removes the start and end code fences\nconst cleanJson = rawContent.replace(/^```json\\s*/i, \"\").replace(/\\s*```$/, \"\");\n\n// 3. Parse the string into a real JavaScript Array\nlet jobsArray = [];\ntry {\n  jobsArray = JSON.parse(cleanJson);\n} catch (error) {\n  // Fallback: If parsing fails, try to return an empty array or log error\n  console.log(\"JSON Parse Error:\", error);\n  jobsArray = [];\n}\n\n// 4. Return separate items for n8n to process\n// This automatically \"splits\" the array so the next node runs 3 times (once for each job)\nreturn jobsArray.map(job => {\n  return {\n    json: job\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        688
      ],
      "id": "89f1be8a-b07f-4886-b78f-38b387948693",
      "name": "JSON Format Fixer"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1376,
        -48
      ],
      "id": "f0f1f97d-3220-416d-98f8-4e28bab9cb7e",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0",
          "mode": "list",
          "cachedResultName": "InternshipSites",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 198098392,
          "mode": "list",
          "cachedResultName": "Mobile Numbers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit#gid=198098392"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        -48
      ],
      "id": "66f8bcbe-bc5b-4f60-8c98-3053ea093fdf",
      "name": "Get Mobile Numbers",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IlUP2Ct5qrErA6VN",
          "name": "Mojo Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0",
          "mode": "list",
          "cachedResultName": "InternshipSites",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 607067211,
          "mode": "list",
          "cachedResultName": "True Classification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit#gid=607067211"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Telegram Message": "={{ $('Telegram Trigger').item.json.message.text }}",
            "Title": "={{ $('Loop Over Each Link').item.json.role }}",
            "Company Name": "={{ $('Loop Over Each Link').item.json.company }}",
            "Eligibility": "={{ $('Loop Over Each Link').item.json.eligibility }}",
            "Application Link": "={{ $('Loop Over Each Link').item.json.apply_link }}",
            "Status": "Pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telegram Message",
              "displayName": "Telegram Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Eligibility",
              "displayName": "Eligibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Application Link",
              "displayName": "Application Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        -96
      ],
      "id": "362bd485-f75a-4e03-a381-8be79eae9826",
      "name": "Append Valid",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IlUP2Ct5qrErA6VN",
          "name": "Mojo Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0",
          "mode": "list",
          "cachedResultName": "InternshipSites",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181431973,
          "mode": "list",
          "cachedResultName": "False Classification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18BmB3kHAvYZ1FiGf4txjoX-ttpfIVpGvAmZI8giSAE0/edit#gid=181431973"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Rejection Reason": "={{ $json.rejection_reason || $('Output Parser').item.json.reason || \"duplicate found\" }}",
            "Application Link": "={{ $('Loop Over Each Link').item.json.apply_link }}",
            "Telegram Message": "={{ $('HTML Cleaner').item.json.org_text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telegram Message",
              "displayName": "Telegram Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Application Link",
              "displayName": "Application Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rejection Reason",
              "displayName": "Rejection Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        400
      ],
      "id": "6b6ed48c-9ea1-4547-8ce0-a7c6b5fa51be",
      "name": "Append Rejected",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IlUP2Ct5qrErA6VN",
          "name": "Mojo Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -560,
        384
      ],
      "id": "7165ac30-41a5-4a04-9fa7-462062368fb6",
      "name": "Analyst Main",
      "credentials": {
        "openRouterApi": {
          "id": "FVYZaHIKcsth7Wm5",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-whatsapp-webhook/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "=+{{ $json['Phone Number'] }}"
            },
            {
              "name": "message",
              "value": "={{ $('Output Parser').item.json.whatsapp_message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        112
      ],
      "id": "e815c811-c9f3-416c-b929-9145eadf3752",
      "name": "Send Whatsapp Message",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "toolDescription": "Performs a Google search to verify internship eligibility. Use this ONLY when the provided text is ambiguous or missing the batch year (e.g., '2027'). CRITICAL: You must provide a specific query string (e.g., 'Google Software Engineer Intern 2027 eligibility').",
        "method": "POST",
        "url": "https://n8n.shravanpandala.me/webhook/serpapi_search",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `The search query string (e.g. 'Company Role 2027 eligibility')`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -304,
        384
      ],
      "id": "a093e9d7-26fe-4ed7-ae55-63a253168ea1",
      "name": "serpapi_request"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -432,
        384
      ],
      "id": "1e3917f8-87db-41cc-a4a9-e99e77e9c8f1",
      "name": "Analyst Fallback",
      "credentials": {
        "groqApi": {
          "id": "M7r8ohirlJtFA0vi",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.apply_link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "html_raw"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1456,
        336
      ],
      "id": "1de8abd9-1dc7-4100-bc73-e4e18220d132",
      "name": "Get HTML",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the current item explicitly\nconst inputItem = items[0]; \nlet rawContent = inputItem.json.html_raw;\n\n// 2. Safety Check: If input is missing or null\nif (!rawContent) {\n   return [{ json: { cleaned_text: \"EMPTY_HTML_ERROR\" } }];\n}\n\n// 3. Handle \"Redirect/JSON\" case\nif (typeof rawContent === 'string' && rawContent.trim().startsWith('{')) {\n   return [{ json: { cleaned_text: \"EMPTY_HTML_ERROR\" } }];\n}\n\n// 4. Ensure input is a string\nif (typeof rawContent !== 'string') {\n    try {\n        rawContent = JSON.stringify(rawContent);\n    } catch (e) {\n        return [{ json: { cleaned_text: \"EMPTY_HTML_ERROR\" } }];\n    }\n}\n\n// 5. HELPER: Extract Metadata (Crucial for SPAs)\nfunction getMetadata(html) {\n    let metaText = \"\";\n    \n    // Extract <title>\n    const titleMatch = html.match(/<title[^>]*>([^<]+)<\\/title>/i);\n    if (titleMatch) metaText += titleMatch[1] + \"\\n\";\n\n    // Extract <meta name=\"description\"> or <meta property=\"og:description\">\n    // We use a regex to capture the 'content' attribute\n    const descMatch = html.match(/<meta[^>]*?(?:name|property)=[\"'](?:og:)?description[\"'][^>]*?content=[\"']([^\"']+)[\"']/i);\n    if (descMatch) metaText += descMatch[1] + \"\\n\";\n\n    return metaText;\n}\n\n// 6. Cleaning Function\nfunction cleanText(html) {\n  if (!html) return \"\";\n  \n  // A. Extract metadata FIRST (Before we delete the tags)\n  const metadata = getMetadata(html);\n\n  // B. Remove scripts and styles\n  let text = html.replace(/<script\\b[^>]*>([\\s\\S]*?)<\\/script>/gm, \"\");\n  text = text.replace(/<style\\b[^>]*>([\\s\\S]*?)<\\/style>/gm, \"\");\n  \n  // C. Remove all HTML tags\n  text = text.replace(/<[^>]+>/g, \"\\n\");\n  \n  // D. Collapse spaces\n  text = text.replace(/\\s+/g, \" \").trim();\n  \n  // E. Combine Metadata + Body Text\n  // This ensures we have data even if the body was just \"Loading...\"\n  return (metadata + \"\\n\" + text).trim();\n}\n\nconst clean = cleanText(rawContent);\n\n// 7. Final Check\nif (clean.length < 20) {\n    // Return a soft error object but don't crash the flow\n    return [{ \n        json: { \n            cleaned_text: \"SCRAPE_FAILED_TOO_SHORT\", \n            error: true\n        } \n    }];\n}\n\n// 8. Success Output\nreturn [{\n  json: {\n    cleaned_text: clean,\n    // Fetch original text directly from Trigger\n    org_text: $('Telegram Trigger').first().json.message.text, \n    context: inputItem.json.context \n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        336
      ],
      "id": "080fc5c4-91d9-4d96-bb69-61db3b0feb30",
      "name": "HTML Cleaner",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw text output safely\nconst rawText = items[0]?.json?.output;\n\nif (!rawText) {\n  return [{ json: { error: \"No output received from Analyst Agent\" } }];\n}\n\n// 2. Try to find JSON inside markdown blocks (Non-greedy is safer)\nconst markdownMatch = rawText.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n\n// 3. Robust JSON Extraction (Replaces the risky Regex)\n// We simply find the first '{' and the last '}' to isolate the object.\nconst firstOpen = rawText.indexOf('{');\nconst lastClose = rawText.lastIndexOf('}');\n\nlet finalJson = {};\n\ntry {\n  if (markdownMatch) {\n    // Priority 1: Markdown block\n    finalJson = JSON.parse(markdownMatch[1]);\n  } else if (firstOpen !== -1 && lastClose !== -1 && lastClose > firstOpen) {\n    // Priority 2: Substring between first '{' and last '}'\n    const jsonString = rawText.substring(firstOpen, lastClose + 1);\n    finalJson = JSON.parse(jsonString);\n  } else {\n    // Fallback: This triggers the catch block if it's not JSON\n    throw new Error(\"No JSON structure found\");\n  }\n} catch (error) {\n  // SAFE FAILURE RESPONSE\n  finalJson = { \n    send_whatsapp: false, \n    reason: \"JSON Parsing Failed\", \n    // FIX: Added the missing comma here\n    org_text: $('HTML Cleaner').first().json.org_text || \"Text unavailable\",\n    error_details: error.message,\n    raw_output: rawText\n  };\n}\n\nreturn [{ json: finalJson }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        16
      ],
      "id": "d9f6e102-ca91-4ac2-9594-81c79819c162",
      "name": "Output Parser"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "CRITICAL: \nCall this FIRST. Checks if the job link is already in the database. If it returns any valid item as output , you must STOP immediately and return send_whatsapp: false.",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "yOfWQK9CB3soT3Ai",
          "mode": "list",
          "cachedResultName": "Internship Alerts",
          "cachedResultUrl": "/projects/0aENaaiAf9dL9Hyo/datatables/yOfWQK9CB3soT3Ai"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Application_Link",
              "keyValue": "={{ $('JSON Format Fixer').item.json.apply_link }}"
            }
          ]
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        -176,
        384
      ],
      "id": "e1bf1edb-a946-4914-af46-510185ab3c54",
      "name": "check_duplicate"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "yOfWQK9CB3soT3Ai",
          "mode": "list",
          "cachedResultName": "Internship Alerts",
          "cachedResultUrl": "/projects/0aENaaiAf9dL9Hyo/datatables/yOfWQK9CB3soT3Ai"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Application_Link",
              "keyValue": "={{ $('Loop Over Each Link').item.json.apply_link }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        256,
        16
      ],
      "id": "18e77573-8fa3-4abc-a25b-1a07765814d7",
      "name": "Check for duplicate valid",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2144,
        912
      ],
      "id": "d80e178e-26db-4cf6-ab35-15222cee15e0",
      "name": "Splitter Fallback",
      "credentials": {
        "openRouterApi": {
          "id": "FVYZaHIKcsth7Wm5",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2272,
        912
      ],
      "id": "d42e8872-87ee-4194-8eaa-9a17715a4385",
      "name": "Splitter Main",
      "credentials": {
        "groqApi": {
          "id": "FkhyWZc9SiOUnDIJ",
          "name": "API KEY 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1680,
        688
      ],
      "id": "bdaa2920-60e4-46f8-8941-21dc75d4b5fa",
      "name": "Loop Over Each Link"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        32,
        224
      ],
      "id": "b7a51d95-713f-43fd-98bd-38e27e836729",
      "name": "Wait",
      "webhookId": "a5c5ca9f-a438-4c43-945a-2a7022f120a9"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        224
      ],
      "id": "c7c6aecf-aeed-44cd-99ab-5b979d60aa64",
      "name": "Resend failed message",
      "webhookId": "067167a9-8b4e-4ede-8f50-d726d993cd7e",
      "credentials": {
        "telegramApi": {
          "id": "9cIs4u9GE5MJl8oy",
          "name": "Internships Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURATION\nconst CONFIG = {\n  // Block these years if 2027 is missing\n  wrong_years: /\\b(2020|2021|2022|2023|2024|2025|2026)\\b/,\n  target_year: /2027/\n};\n\nreturn items.map(item => {\n  // 1. COMBINE TEXT\n  // We combine Title, Scraped Text, AND Original Telegram Text\n  const parts = [\n    item.json.title,\n    item.json.text,        // Cleaned HTML\n    item.json.org_text,    // Original Telegram Message (CRITICAL)\n    item.json.context\n  ];\n  \n  const combinedText = parts.filter(Boolean).join(\" \").toLowerCase();\n\n  let status = \"PASS\";\n  let rejectReason = \"N/A\";\n\n  // 2. LOGIC: Explicit Exclusion\n  // IF (Text mentions 2025/2026) AND (Text DOES NOT mention 2027) -> REJECT\n  if (CONFIG.wrong_years.test(combinedText) && !CONFIG.target_year.test(combinedText)) {\n    status = \"REJECT\";\n    rejectReason = \"Hard Filter: Explicit Old Batch (Mentioned older years but not 2027)\";\n  }\n\n  // 3. DEBUG INFO (Check this in output if it fails again)\n  const debug = {\n    original_text_found: !!item.json.org_text, // Should be TRUE\n    years_found: combinedText.match(CONFIG.wrong_years) || \"None\",\n    target_found: CONFIG.target_year.test(combinedText)\n  };\n\n  return {\n    json: {\n      ...item.json,\n      pre_filter_status: status,\n      rejection_reason: rejectReason,\n      debug_log: debug\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        336
      ],
      "id": "94355399-4f2a-4136-adc1-0a5e3da4be27",
      "name": "Pre-Check",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "42b354f7-17d1-462e-bed7-54a0d225053c",
              "leftValue": "={{ $json.pre_filter_status }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -784,
        336
      ],
      "id": "9c4e20cf-8804-44c6-a651-47205d1d27e8",
      "name": "For 2027?",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        400
      ],
      "id": "7da184ad-d737-4431-a1c3-dbf642dacf3c",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c4709a1-e1dd-4021-99f2-f636a049bedd",
              "leftValue": "={{ $('Output Parser').item.json.send_whatsapp }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "9fd508d8-b394-442c-9dca-f730575edb3e",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        16
      ],
      "id": "167b29fd-31a1-41d6-a53f-7dacccc5a8b8",
      "name": "Not Duplicate?",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a4622224-cc41-4d61-9b80-1bfd67e03422",
              "leftValue": "={{ $('Output Parser').item.json.deadline }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        -48
      ],
      "id": "0b1ba2f7-9717-4453-aaa7-bc4c0eeebe85",
      "name": "Deadline Exists?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "shravanpandala@gmail.com",
          "mode": "list",
          "cachedResultName": "shravanpandala@gmail.com"
        },
        "start": "={{ $('Output Parser').item.json.deadline }}T09:00:00Z",
        "end": "={{ $('Output Parser').item.json.deadline }}T10:00:00Z",
        "additionalFields": {
          "description": "=Link : {{ $('JSON Format Fixer').item.json.apply_link }}",
          "summary": "=🚨 APPLY TODAY: {{ $('JSON Format Fixer').item.json.role }} at {{ $('JSON Format Fixer').item.json.company }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        928,
        -112
      ],
      "id": "4dc441a2-e745-493a-929b-9f950def2739",
      "name": "Add event reminder",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rheZ1Rri6A3ktbm1",
          "name": "shravanpandala@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Splitter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Loop Over Each Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyst Agent": {
      "main": [
        [
          {
            "node": "Output Parser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splitter Agent": {
      "main": [
        [
          {
            "node": "JSON Format Fixer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Format Fixer": {
      "main": [
        [
          {
            "node": "Loop Over Each Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Append Valid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Whatsapp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mobile Numbers": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Valid": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Rejected": {
      "main": [
        [
          {
            "node": "Loop Over Each Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyst Main": {
      "ai_languageModel": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Whatsapp Message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "serpapi_request": {
      "ai_tool": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analyst Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Get HTML": {
      "main": [
        [
          {
            "node": "HTML Cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Cleaner": {
      "main": [
        [
          {
            "node": "Pre-Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser": {
      "main": [
        [
          {
            "node": "Check for duplicate valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_duplicate": {
      "ai_tool": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check for duplicate valid": {
      "main": [
        [
          {
            "node": "Not Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splitter Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Splitter Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Splitter Main": {
      "ai_languageModel": [
        [
          {
            "node": "Splitter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Each Link": {
      "main": [
        [],
        [
          {
            "node": "Get HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Resend failed message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resend failed message": {
      "main": [
        [
          {
            "node": "Loop Over Each Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Check": {
      "main": [
        [
          {
            "node": "For 2027?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "For 2027?": {
      "main": [
        [
          {
            "node": "Analyst Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Duplicate?": {
      "main": [
        [
          {
            "node": "Deadline Exists?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deadline Exists?": {
      "main": [
        [
          {
            "node": "Add event reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Mobile Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add event reminder": {
      "main": [
        [
          {
            "node": "Get Mobile Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19921415bac6b77b91e822c3e97165800ced3a4d6f63d204500fd50a2d359050"
  }
}
